# This file is derived from keel (https://github.com/horacehoff/keel),
# Copyright 2026 Horace Hoff, licensed under the Apache License, Version 2.0.
# It has been modified by the candela authors. See the NOTICE file.
/target
/.zed
/.idea
test.cdl
docs/benchmarks.py
/lib_testing
/testing
*.dylib
.DS_Store
/.cargo
*.so
*.dll
node_modules
.serena
